 #main {
            max-width: 1200px;
            width: 100%;
            color: rgb(107, 105, 105);
            text-decoration: none ;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            margin-bottom: 12px
        }

        p {
            font-size: 18px;
            font-style: italic;
        }

        .bold {font-weight: bold;}
        .underline {text-decoration: underline;}

        .homebg {
            background-image: url("../images/light_blue_background.jpg") ;
        }
        a:visited {
            color: blue;}

        .box1 {
            border-width: 1px;
            border-style: solid;
        }
        .box2 {
            padding: 5px
        }
        .box3 {
            margin: 5px
        }

img {
    width: 500px;      
    height: auto;      
    object-fit: cover; 
    display: block;
    margin: 20px auto;
}


        

        